svg {
    opacity: 1!important;
    -webkit-transform: translateY(0)!important;
    transform: translateY(0)!important;
    * {
        opacity: 1!important;
        -webkit-transform: translateY(0)!important;
        transform: translateY(0)!important;
    }
}
